/* Global styles */
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow-y: scroll; /* Always show vertical scrollbar */
  overflow-x:hidden;
}

hr {
  border: none;
  border-top: none;
}

canvas {
  position: fixed; /* Position the canvas to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Menu bar styles */
.menu-bar, .below-bar, .grid-container, .bottom, .bio, .resume, .bottom-web {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  z-index: 1; /* Place menu bar and below bar above canvas */
  background-color: transparent;
}

.menu-bar {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 1; /* Place menu bar above canvas */
}

.menu-bar .left {
  flex-grow: 1;
  align-items: left;
  margin-left: 40px;
}

.menu-bar .right {
  display: flex;
  margin-right: 30px;
}

.menu-bar a {
  color: white; /* Set link text color to white */
  text-decoration: none;
  padding-right: 100px;
}

/* Below bar styles */
.below-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 100px;
}

.below-bar .left .name {
  font-size: 14px;
  color: white; /* Set text color to white */
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}

/* Grid container for work */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 50px; /* Reduced gap between grid items */
  padding: 50px;
  align-items: center; /* Center items vertically */
  margin-top: 100px;
  margin-bottom: 300px;
  position: relative; /* Ensure relative positioning */
  left: 50%; /* Move the container 50% to the left */
  transform: translateX(-50%); /* Center the container horizontally */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item img {
  width: 90%; /* Reduced image size */
  height: auto;
}

.grid-item p {
  margin: 10px;
  font-size: 12px;
  color: white;
}

/* Bottom section styles */
.bottom span {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  z-index: 1;
  text-align: center;
  color: white;
  margin-bottom: 300px;
  font-size: 13px;
  line-height: 1.5;
}

.bottom span a {
  color: white;
  text-decoration: none;
}

/* About me section */
.aboutme {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  grid-gap: 20px; /* Gap between grid items */
  padding: 50px; /* Adjust padding as needed */
  margin: 70px;
}

/* Bio and resume styles */
.bio, .resume {
  width: 55%;
  text-align: left;
  color: white;
}

.bio p {
  font-size: 16px; /* Adjust font size for paragraphs */
  line-height: 1.5; /* Increase line height for better readability */
  margin-bottom: 20px; /* Add margin between paragraphs */
}

.resume a {
  color: white;
  text-decoration: none;
}

/* Media queries for tablets */
@media (max-width: 768px) {
  .menu-bar {
    padding-bottom: 30px;
  }

  .menu-bar .left {
    margin-left: 20px;
  }

  .menu-bar a {
    padding-right: 30px;
    font-size: 12px;
  }

  .below-bar .left .name {
    margin-left: 80px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    gap: 30px; /* Adjusted gap for smaller screens */
    padding: 30px;
    margin-bottom: 200px;
    margin-top: 50px;
  }

  .grid-item img {
    width: 80%; /* Adjusted image size */
  }

  .bottom span {
    width: 60%; /* Adjusted width for smaller screens */
    font-size: 12px; /* Adjusted font size */
  }
}

/* Media queries for mobile devices */
@media (max-width: 480px) {
  .menu-bar .left {
    margin-left: 10px;
  }

  .menu-bar {
    font-size: 10px;
  }

  .menu-bar a {
    padding-right: 10px;
    font-size: 10px;
  }

  .below-bar .left .name {
    margin-left: 30px;
  }

  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Adjusted gap for smaller screens */
    padding: 20px;
    margin-bottom: 150px;
    margin-top: 30px;
  }

  .grid-item img {
    width: 70%; /* Adjusted image size */
  }

  .grid-item p {
    font-size: 10px; /* Adjusted font size */
  }

  .bottom span {
    width: 80%; /* Adjusted width for smaller screens */
    font-size: 11px; /* Adjusted font size */
  }

  .bio p,
  .resume p {
    font-size: 14px; /* Adjust font size for paragraphs */
  }
}


.book{
  margin-top: 50px;
  margin-bottom: 300px;
  line-height: 1.5
}

/* Default styles */
.cover p {
  width: 50%;
  margin-left: 45%;
  text-align: left;
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 1.5;
}

.cover h4, .Template h4 {
  width: 50%;
  margin-left: 45%;
  text-align: left;
  color: white;
  margin-top: 50px;
  font-size: 40px;
  line-height: 1.5;
}
.Template h4{
  margin: auto;
  text-align: center;
}

/* Media query for tablet screens */
@media (max-width: 768px) {
  .cover p,
  .cover h4{
    width: 90%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 50px; /* Adjust as needed */
  }
.cover p{
  font-size: 14px;
}
.cover h4, .Template h4 {
  font-size: 22px;
}
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .cover p,
  .cover h4 {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 40px; /* Adjust as needed */
  }

  .cover h4, .Template h4  {
    font-size:22px ;
  }

  .cover p{
    font-size: 14px;
  }
}


.poster-grid{
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns flex items to the end (right side) */
}

.Poster-1 img, .Poster-2 img, .Poster-3 img{
  width:40%;
}

.Poster-1 img{
  float: right;
}

Poster-3{
  float: left;
}

/* Media query for mobile and tablet screens */
@media (max-width: 768px) {
  .poster-grid {
    margin: 20px 0; /* Adjust margin for mobile/tablet */
  }

  .Poster-1 img, .Poster-2 img, .Poster-3 img {
    width: 100%; /* Make images take full width */
    float: none; /* Remove floats */
    margin-bottom: 10px; /* Add spacing between images */
  }
}

.column-main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 86%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.column-main img{
  width: 100%;
  border-radius: 10px;
}

.column-two-img{
  width: 43%; /* Adjusted width for better alignment */
  margin: 0;
  padding: 20px;
  text-align: left;
  font-size: 18px; /* Reduced font size for better readability */
  line-height: 1.6; /* Slightly increased line height */
}

.column-three {
   width: calc(30% - 10px);
   float: left;
   margin: 0;
   font: white;
   padding: 20px;
   box-sizing: border-box;
   border: 2px solid white;
   border-radius: 10px;
   min-height: 240px; /* Adjust the value as needed */
    }
    .column-three:last-child {
        margin-right: 0;
    }

    @media (max-width: 768px) {
        .column-three {
            width: calc(30% - 20px);
            font-size: 14px;
        }

        .column-three h2{
          font-size: 18px;
        }
    }

    @media (max-width: 480px) {
        .column-three {
            font-size: 12px;
            width: 100%;
            margin-right: 0;
        }
    }


.column-two {
  border: 2px solid white;
  border-radius: 10px;
  width: 43%; /* Adjusted width for better alignment */
  margin: 0;
  padding: 20px;
  text-align: left;
  font-size: 18px; /* Reduced font size for better readability */
  line-height: 1.6; /* Slightly increased line height */
}


.UXA-edit {
  width: 45%; /* Adjusted width for each item */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; /* Adjusted margin */
  
}

.UXA-edit img {
  width: 100%; /* Adjusted width for images */
  border-radius: 10px;
}


.Template {
  text-align: center;
  margin-bottom: 20px;
}

/* For tablets */
@media only screen and (max-width: 768px) {
  .column-main {
    width: 86%; /* Adjusted width for tablets */
    padding: 30px ; /* Adjusted padding */
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .column-two{
    width: 100%; /* Adjusted width for tablets */
    padding: 40px;
    font-size: 15px; /* Reset font size */
    line-height: 1.6; /* Reset line height */
  }

  .UXA-edit {
    width: 100%; /* Adjusted width for tablets */
    padding: 20px; /* Adjusted padding */
  }

}

/* For mobile */
@media only screen and (max-width: 480px) {
  .column-main {
    width: 88%; /* Full width for mobile */
    padding: 20px 0; /* Adjusted padding */
    gap: 10px; /* Adjusted gap */
  }

  .column-two {
    width: 100%; /* Full width for mobile */
    padding: 15px; /* Adjusted padding */
    font-size: 12px; /* Further reduced font size */
    line-height: 1.4; /* Further increased line height */
  }

  .UXA-edit {
    width: 100%; /* Full width for mobile */
    padding: 15px; /* Adjusted padding */
  }

  .Template {
    margin-bottom: 10px; /* Reduced margin */
  }
}



.vid-zoom {
  
  margin: auto;
  padding: auto;
  width: 100vw; /* Set the width of the div */
  height: auto; /* Set the height to auto for responsive resizing */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}


.column-one {
    background-color: black; /* Change to dark grey */
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 20px 40px;
    text-align: left; /* Align text content to the left */
    font-size: 20px;
    line-height: 1.5;
    color: white;
    border: solid white 2px;
}

.column-one h3, .column-one p {
    padding: 20px 40px; /* Adjusted padding for both h3 and p elements */
}

.disabilities {
    width: 80%; /* Adjusted width for responsiveness */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjusted columns to fit content */
    gap: 20px;
    margin: auto; /* Centered horizontally */
    font-size: 1em; /* Font size adjustment */
    line-height: 1.5;
}

.dis1, .dis2, .dis3 {
    margin-top: -1em; /* Reset top margin */
}

.dis-numbers {
    font-size: 5.5em; /* Font size adjustment */
}
/* Base styles for the images */
.column-one .dis-numbers img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .column-one .dis-numbers img {
        width: 30px; /* Adjust the size of the images for mobile view */
    }
}
.dis-text {
    font-size: 1em; /* Font size adjustment */
}

 .Template h3 {
    margin-left: 70px;
    margin-top: 100px;
    font-size: 27px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.Template img {
    display: block; /* Make the image a block element to center it */
    width: 86%; /* Set the width of the image */
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.UX {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.UX img {
    border-radius: 5px;
    width: calc(43% - 20px);
    height: auto;
    margin: 10px;
    box-sizing: border-box;
}

/* Tablet CSS */
@media (max-width: 768px) {
    .column-one {
        font-size: 15px;
        width: 80%;
        padding: 15px 15px;
    }

    .column-one h3, .column-one p {
        padding: 15px 30px;
    }

    .disabilities {
        width: 90%;
        gap: 15px;
    }

    .Template h3 {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 80px;
        font-size: 20px;
    }

    .Template img {
        width: 95%;
        margin-bottom: 15px;
    }

     .UX img {
        border-radius: 5px;
        width: calc(50% - 20px); /* Adjusted width for two columns */
        margin: 10px; /* Added margin */
        box-sizing: border-box;
    }

}

/* Mobile CSS */
@media (max-width: 480px) {
    .column-one {
        width: 80%;
        padding: 10px 10px;
    }

    .column-one h3, .column-one p {
        padding: 10px 20px;
        font-size: 12px;
    }

    .disabilities {
        width: 100%;
        display: block; /* Stack items vertically */
        gap: 10px;
    }

    .dis1, .dis2, .dis3 {
        width: 100%;
        margin-top: 10px;
    }

    .dis-numbers {
        font-size: 2.5em;
    }

    .dis-text {
        font-size: 1em;
    }

    .Template h3 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
        font-size: 18px;
    }


   .UX img {
        border-radius: 5px;
        width: calc(100% - 20px); /* Adjusted width for full width */
        margin: 10px; /* Added margin */
        box-sizing: border-box;
    }

}



/* Default CSS */
.emailB {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 40px;
}

.emailB img {
    border-radius: 5px;
    max-width: 90%;
    height: auto;
}

.headers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.headers img {
    border-radius: 5px;
    width: calc(35% - 10px);
    height: auto;
    margin: 10px;
    box-sizing: border-box;
}

.headers-zoom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    }

.headers-zoom img {
    border-radius: 5px;
    width: calc(20% - 10px);
    height: auto;
    margin: 10px;
    box-sizing: border-box;
}


/* Tablet CSS */
@media only screen and (max-width: 768px) {
    .headers {
        gap: 40px;
    }

    .headers img {
        margin: 20px;
    }

    .headers-zoom {
        gap: 40px;
    }

    .headers-zoom img {
        margin: 20px;
    }
}

/* Mobile CSS */
@media only screen and (max-width: 480px) {
    .headers img {
        width: calc(100% - 20px);
        margin: 5px;
    }

    .headers-zoom {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .headers-zoom img {
        max-width: 100%;
        height: auto;
        margin: 10px auto;
        border-radius: 2px;
        width: calc(100% - 20px);
    }
}


/* Container for each image and caption */
.headers-art {
    display: inline-block; /* Ensures each div appears in a row */
    width: calc(98% / 3 - 20px); /* Adjust width to fit three columns with gaps */
    margin-right: 10px; /* Creates gap between columns */
    margin-left: 10px;
    text-align: center;
}

/* Styling for the images */
.headers-art img {
    display: block; /* Ensures image takes up full width of container */
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px; /* Adds space between image and caption */
}

/* Styling for the text (caption) */
.headers-art p {
    color: white;
    font-size: 14px;
}

/* Style for the bottom section */
.bottom-web span {
  margin: 40px auto; /* Center align horizontally with auto margin */
  width: 40%;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

.bottom-web span a {
  color: white;
  text-decoration: underline;
}

.bottom-web span p {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

/* Media query for tab screens */
@media screen and (max-width: 1024px) {
    .headers-art {
        width: calc(98% / 2 - 20px); /* Adjust width for two columns */
    }

    .bottom-web span {
        width: 50%; /* Adjust width for tab screens */
        font-size: 18px; /* Adjust font size */
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
    .headers-art {
        display: block; /* Change display to block for vertical alignment */
        width: 90%; /* Adjust width for mobile screens */
        margin: 10px auto; /* Center align horizontally with auto margin */
    }

    .bottom-web span {
        width: 80%; /* Adjust width for mobile screens */
        font-size: 16px; /* Adjust font size */
    }

    .bottom-web span p {
        font-size: 13px; /* Adjust font size for mobile screens */
    }
}


.website {
            margin: auto;
            text-align: center;
        }

        .website a {
            color: white;
            text-decoration: none;
        }

        .website a:hover {
            text-decoration: underline; /* Add underline on hover */
        }
.logo-1 img, .Book-1 img, .cover img{
  width: 100%;
  height: auto;
}

        /* Preloader */
  #preloader{
    background: rgb(0, 0, 0) url('Image/loader.gif') no-repeat center center;
  background-size: contain; /* Adjust based on your loader gif */
  height: auto;
  width: 100%; /* Set the desired width */
  position: fixed; /* Fix it to the viewport */
  top: 50%; /* Position it at the center */
  left: 50%; /* Position it at the center */
  transform: translate(-50%, -50%); /* Center it */
  z-index: 100; /* Ensure it's on top of other elements */
  opacity: 1; /* Initial opacity */
  transition: opacity 1.0s ease-out; /* Smooth fade-out transition */
  }
  
  #preloader.loaded {
    opacity: 0; /* Fade out the preloader */
    pointer-events: none; /* Disable pointer events on the preloader */
  }

  
.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    perspective: 1000px;
    margin: 0 auto;
}

.flipbook {
    width: 100%;
    max-width: 100%; /* Make the flipbook full-width */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page {
    width: calc(33.33% - 20px); /* Adjust the margin */
    height: auto;
    position: relative;
    backface-visibility: hidden;
    transition: transform 1s ease;
    margin: 10px; /* Adjust the margin */
}

.page img {
    width: 100%; /* Make the images full-width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}


.page:nth-child(odd) {
    transform-origin: left;
}

.page:nth-child(even) {
    transform-origin: right;
    transform: rotateY(180deg);
}

.page.flipped:nth-child(odd) {
    transform: rotateY(-180deg);
}

.page.flipped:nth-child(even) {
    transform: rotateY(0deg);
}

@media (max-width: 1024px) {
    .flipbook .page {
        width: calc(50% - 20px); /* Display two images per row on tablets */
    }
}

@media (max-width: 768px) {
    .flipbook .page {
        width: calc(100% - 20px); /* Display one image per row on mobile devices */
    }
}

 
